<h1 class="centred">eMails interaction Panel</h1>

<script>
    $(document).ready(function() {
        $("body").tooltip({
            selector: '[data-show=tip]',
            trigger: "hover"
        });

    });
</script>

<!-- select queue list -->
<div class="panel panel-default">
    <div class="panel-body" <table st-table="rowQueues" class="table table" style="table-layout:fixed">

        <table>
            <thead style="table-layout:fixed;">
                <tr>
                    <th>Find a workgroup</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th><input class="form-control" id="inputdefault_queueName" type="text" ng-model="queue_searchFilter.name"></th>
                    <th>
                        &nbsp;
                    </th>
                    <th><button class="btn btn-default" data-show="tip" title="Clear search workgroup field" data-placement="top" type="button" ng-click="clearWGSearch()">
                        <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="panel-body" id="scrollable-area">
        <table st-table="rowQueues" class="table" style="table-layout:fixed">
            <tbody>
                <tr ng-repeat="q in queues  | toArray : false | filter: queue_searchFilter" ng-model="selectedQueue" ng-click="selectedQueueUpdate(q)">
                    <td>{{q.name}}</td>
                </tr>
                <tr></tr>
            </tbody>
        </table>
    </div>
</div>
</div>

<center>
    <!-- Active Queue Caption -->
    <h4 ng-style="{color:'#36a2c8'}">{{ActiveQueue}}</h4>
</center>
<div class="panel panel-default">
    <div class="panel-body">
        <!-- mail list -->
        <table st-table="rowCollection" class="table table-striped" style="table-layout:fixed">
            <thead style="table-layout:fixed;">
                <tr>
                    <th width="30%"><input class="form-control" id="inputdefault_from" type="text" ng-model="searchFilter.from"></th>
                    <th width="45%"><input class="form-control" id="inputdefault_subject" type="text" ng-model="searchFilter.subject"></th>
                    <th>
                        <button class="btn btn-default" data-show="tip" title="Clear search fields" data-placement="top" type="button" ng-click="clearSearch()">
                        <span class="glyphicon glyphicon-remove"></span>
                        </button>

                    </th>
                </tr>
                <tr>
                    <th>From</th>
                    <th>Subject</th>
                    <th>Action</th>
                </tr>

            </thead>
            <tbody>
                <tr ng-if="row.Hidden == false" ng-repeat="row in mails | toArray : false | filter: searchFilter">
                    <td>{{row.from}}</td>
                    <td>{{row.subject}}</td>
                    <td>
                        <button class="btn btn-default" data-show="tip" title="Preview" data-placement="bottom" data-toggle="modal" type="button" data-target="#mailBodyPopover" ng-click="getMailBody(row)">
              <span class="glyphicon glyphicon-search" ></span>
            </button>
                        <button class="btn btn-default" data-show="tip" title="Transfer" data-placement="bottom" type="button" data-toggle="modal" data-target="#userListPopover" ng-click="UpdateMailGlobal(row)">
              <span class="glyphicon glyphicon-transfer"></span> 
            </button>
                        <button class="btn btn-default" data-show="tip" title="Pick up" data-placement="bottom" type="button" data-toggle="modal" ng-click="pickupMail(row)">
              <span class="glyphicon glyphicon-download-alt"></span> 
            </button>

                    </td>
                </tr>
            </tbody>
        </table>
        <!-- /mail list -->

    </div>

</div>
<!-- Page Control -->
<center>
    <button class="btn btn-default" data-placement="top" type="button" ng-click="firstPage()">
                        <span class="glyphicon glyphicon-step-backward"></span>
                        </button>
    <button class="btn btn-default" data-placement="top" type="button" ng-click="previousPage()">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        </button> &nbsp;&nbsp;&nbsp; Page {{pageNumber}} &nbsp;&nbsp;&nbsp;
    <button class="btn btn-default" data-placement="top" type="button" ng-click="nextPage()">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>

    <!-- /Page Control -->


</center>

<!-- mail body popover -->
<div id="mailBodyPopover" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                <center>
                    <h3 class="modal-title">Preview mail interaction</h3>
                </center>
                </br>
                <h5 class="modal-title">From: {{ EmailFrom }}</h5>
                <h6 class="modal-title">Subject: {{ EmailSubject }}</h6>
                </br>
                <!--
                <div ng-show="bShowImages">
                    Images are not displayed.
                    <b><button class="btn btn-link" type="button" ng-click="ShowImages()">Show images below.</button></b>
                </div> -->
            </div>

            <!-- HTML BODY ng-class="{wordwrap: bShowImages, container: !bShowImages}"  -->
            <div class="modal-body" ng-show="bHTMLBody">
                <div class="container" style="max-width: 500px; margin: auto;">
                    <div ng-bind-html="EmailBody"> </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

            <!-- TEXT BODY  -->
            <div class="modal-body" ng-show="!bHTMLBody">
                <div class="wordwrap" style="max-width: 500px; margin: auto;">
                    <div ng-bind-html="EmailBody"> </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /mail body popover -->

</div>


<!-- UserList popover -->
<div id="userListPopover" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h3 class="modal-title">Transfer mail interaction</h3>
                </center>
                </br>
                <h5 class="modal-title">From: {{ EmailObj.from }}</h5>
                <h6 class="modal-title">Subject: {{ EmailObj.subject }}</h6>
                </br>

                <div>
                    <table>
                        <thead style="table-layout:fixed;">
                            <tr>
                                <th>Find a user</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <th><input class="form-control" id="inputdefault_userName" type="text" ng-model="user_searchFilter.name"></th>
                                <th>
                                    &nbsp;
                                </th>
                                <th><button class="btn btn-default" data-show="tip" title="Clear search user field" data-placement="top" type="button" ng-click="clearUserSearch()">
                        <span class="glyphicon glyphicon-remove"></span>
                        </button>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
                </br>
                <div class="panel-body" id="scrollable-area">
                    <table st-table="rowUsers" class="table">
                        <tbody>
                            <tr ng-repeat="u in users | toArray : false | filter: user_searchFilter" ng-model="selectedUser" ng-click="UpdateTransferToUser(u)">
                                <td>{{u.name}}</td>
                            </tr>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" data-dismiss="modal" ng-disabled="!TransferToSelectedUser" ng-click="transferMail()">Transfer to {{TransferToSelectedUser.name}}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="dismissTransferPopup()">Close</button>
                </div>
            </div>

        </div>

    </div>
</div>


<!-- /UserList popover -->